/*------------------------------------------------------------
FONTS GOOGLE FONTS
------------------------------------------------------------*/ 

/*

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.roboto-<uniquifier> {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*/

/*------------------------------------------------------------
FIN DES FONTS GOOGLE FONTS
------------------------------------------------------------*/ 

/*------------------------------------------------------------
PROPRIÉTÉS DU BOX SIZING - BASE
------------------------------------------------------------*/ 

html{

    box-sizing: border-box;

}

*,*:before,*:after{

    box-sizing: inherit;

}

/*------------------------------------------------------------
FIN DES PROPRIÉTÉS DU BOX SIZING - BASE
------------------------------------------------------------*/ 

/*------------------------------------------------------------
PROPRIÉTÉS DES ÉLÉMENTS
------------------------------------------------------------*/ 

body{

    margin: 0;
    padding: 0;

    font-family: "Roboto", serif;

    font-size: 18px;

}

.wrapper{

    max-width: 1080px;
    margin: 0 auto; /*0 veut dire que top et bottom = 0, et auto affect left et right*/

}

a{

    text-decoration: none;

}

/*------------------------------------------------------------
PROPRIÉTÉS DES ÉLÉMENTS
------------------------------------------------------------*/ 

/*------------------------------------------------------------
PROPRIÉTÉS DES MODULES
------------------------------------------------------------*/ 

/*---HEADER---*/

header{

    background-color: #F26C25;
    padding-top: 10px;
    padding-bottom: 10px;

}

header .wrapper{

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{

    display: flex;
    align-items: center;
    gap: 10px;

}

a p{

    font-size: 36px;
    font-weight: bold;
    color: #fff;

    margin: 0;

}

.majuscule_logo{

    text-transform: uppercase;

}

header ul{

    display: flex;
    gap: 40px;

    list-style-type: none;

    padding: 0;

}

header nav a{

    color: #fff;

}

header nav a:hover{

    text-decoration: underline;

}

/*---FIN du HEADER---*/

/*---SECTION "BANNIÈRE"---*/

.banniere{

    background-color: #eeeeee;

}

.banniere .wrapper{

    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

}

h1{

    font-size: 36px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 7.2px;

}

/*---FIN de la SECTION "BANNIÈRE"---*/

/*---SECTION "TITRE_SECTION"---*/

.titre_section{

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;

    background-color: #eeeeee;
    
    border: solid 1px #d0d0d0;

    margin-top: 80px;
    margin-bottom: 80px;

    padding-left: 20px;
    padding-right: 20px;

}

h2{

    font-size: 18px;
    font-weight: bold;

}

/*---FIN de la SECTION "TITRE_SECTION"---*/

/*---SECTION "CONTENU_TRANSPORT"---*/

.conteneur_transport{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;

}

article h3{

    font-size: 36px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0;

}

article p{

    font-size: 18px;
    text-align: center;
    margin-top: 0;

}

.titre_gras{

    font-weight: bold;

}

/*---FIN de la SECTION "CONTENU_TRANSPORT"---*/

/*---FOOTER---*/

footer{

    background-color: #000;
    color: #fff;

}

footer a{

    width: 32px;
    height: 32px;

    display: inline-block;

}

footer nav ul{

    display: flex;
    gap: 20px;

    list-style-type: none;

}

footer .wrapper{

    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer h4{

    font-size: 18px;
    font-weight: 400;

}

/*images des médias*/

.facebook a{

    background-image: url("../images/facebook_icone.jpg");

}

.twitter a{

    background-image: url("../images/twitter_icone.jpg");

}

.linkedin a{

    background-image: url("../images/linkedin_icone.jpg");

}

.pinterest a{

    background-image: url("../images/pinterest_icone.jpg");

}

.facebook a:hover{

    background-image: url("../images/facebook_survol_icone.jpg");

}

.twitter a:hover{

    background-image: url("../images/twitter_survol_icone.jpg");

}

.linkedin a:hover{

    background-image: url("../images/linkedin_survol_icone.jpg");

}

.pinterest a:hover{

    background-image: url("../images/pinterest_survol_icone.jpg");

}

/*---FIN du FOOTER---*/

/*------------------------------------------------------------
PROPRIÉTÉS DES MODULES
------------------------------------------------------------*/ 